<a href="https://colab.research.google.com/github/XGHouFTW/ISEF-2022/blob/main/VADER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
!pip install vaderSentiment
from google.colab import drive
drive.mount('/content/drive')
path = "/content/drive/MyDrive/ISEF/Datasets/Ethereum_tweets.csv"

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.7/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
df = pd.read_csv(path)
datelist = []
sentlistneg = []
sentlistneu = []
sentlistpos = []
sentlistcom = []

In [3]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sid_obj = SentimentIntensityAnalyzer()

def VADER(sentence):
  sentiment_dict = sid_obj.polarity_scores(sentence)
  sentlistneg.append(sentiment_dict['neg'])
  sentlistneu.append(sentiment_dict['neu'])
  sentlistpos.append(sentiment_dict['pos'])
  sentlistcom.append(sentiment_dict['compound'])

In [4]:
i = 0
for i in range(len(df)):
  comment = df.loc[i,"text"]
  date = df.loc[i,"date"]
  
  try: 
    VADER(comment)
    datelist.append(date)
  except TypeError:
    print(i)
    
  i = i+1
print(i)

10000

In [5]:
dfscores = pd.DataFrame()
dfscores["date"] = datelist
dfscores["Neg"] = sentlistneg
dfscores["Neu"] = sentlistneu
dfscores["Pos"] = sentlistpos
dfscores["Com"] = sentlistcom

dfscores.to_csv("Ethereum_scores.csv")

In [6]:
dfscores

                           date    Neg    Neu    Pos     Com
0     2021-11-15 07:26:39+00:00  0.000  1.000  0.000  0.0000
1     2021-11-15 07:26:35+00:00  0.000  0.895  0.105  0.5983
2     2021-11-15 07:26:32+00:00  0.000  0.855  0.145  0.6239
3     2021-11-15 07:26:30+00:00  0.000  1.000  0.000  0.0000
4     2021-11-15 07:26:30+00:00  0.000  1.000  0.000  0.0000
...                         ...    ...    ...    ...     ...
9995  2021-11-14 13:43:00+00:00  0.000  1.000  0.000  0.0000
9996  2021-11-14 13:42:56+00:00  0.141  0.792  0.067 -0.3612
9997  2021-11-14 13:42:42+00:00  0.000  0.857  0.143  0.7170
9998  2021-11-14 13:42:31+00:00  0.000  1.000  0.000  0.0000
9999  2021-11-14 13:42:25+00:00  0.000  1.000  0.000  0.0000

[10000 rows x 5 columns]